.image-gallery data-images=(['creamery-main-exterior', 'creamery-main-interior', 'creamery-addition', 'halvorsen-candy-bomber-museum', 'rodizio-slc-interior', 'rodizio-provo-interior'].to_json) data-directory='gallery'
= render 'footer'
